venv
.env
__pycache__/
*.pyc
instance/
.DS_Store
.idea/
.vscode/
*.log
coverage/
*.sqlite3
.envrc
*.egg-info/
dist/
build/
*.bak
*.swp
backend/uploads/
backend/uploads/events/388da917-b5ed-4e1a-90ba-d0187143217c.png
